* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    color: #333;
}

body {
    overflow-x: hidden;
}

h1 {
    color: white;
    margin: .5rem 0;
    font-weight: 200;
}

p {
    margin: .5rem 0;
}

a {
    color: white;
}

canvas {

    width: 88vmin;
    height: 88vmin;
    border: 3px solid black;
    background-color: white;
    border: 3px solid black;
}
