* {
    box-sizing: border-box;
}

html {
    background-color: indigo;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    color: white;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

:root {
    --tx-color: white;
}

body {
    overflow-x: hidden;
}

.wrapper-title {
    margin-top: 20vh;
    margin-bottom: 10vh;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
}

h1, p.subtitle {
    text-align: left;
}

h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 4rem;
    line-height: 1;
}

p.subtitle {
    margin-top: 0;  
    margin-bottom: 1rem;
    line-height: 1.5    ;
}

.description {
    font-size: .8rem;
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
}

p.chapeu {
    display: block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .2em;
    color: var(--tx-color);
}


a {
    color: inherit;
    text-decoration: none;
}

.wrapper-mini-interactives {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 700px;
    gap: 2rem;
    place-content: center;
}

@media (max-width: 850px) {
    .wrapper-mini-interactives {
        grid-template-columns: 350px;
    }

    h1 {
        font-size: 3rem;
    }
}

.card {
    height: 400px;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
    transition: transform .5s;
}

a .card:hover {
    box-shadow: 0 0 30px 0 whitesmoke;
    transform: rotate(2.5deg);
}

.card img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 1rem;
    background-color: white;

}

div.img {
    font-size: 3rem;
}
